<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>vviky</title>
	    <link rel="icon" href="static/images/for_index/vLogo.jpg" type="image/x-icon">

      
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">
                        
        <link href="../static/css/bootstrap_min_for_index.css" rel="stylesheet">

        <link href="../static/css/bootstrap-icons.css" rel="stylesheet">

        <link href="../static/css/templatemo-topic-listing.css" rel="stylesheet">      

        <link rel="stylesheet" href="../static/css/menu.css">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    </head>
    
    <body id="top">

        <nav id="colorlib-main-nav" role="navigation">
            <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle active"><i></i></a>
            <div class="js-fullheight colorlib-table">
              <div class="img" style="background-image: url(images/bg_3.jpg);"></div>
              <div class="colorlib-table-cell js-fullheight">
                <div class="row no-gutters">
                  <div class="col-md-12 text-center">
                    <h1 class="mb-4"><a href="index.html" class="logo">vviky</a></h1>
                    <ul>
                      <li><a href="create"><span>Create</span></a></li>
                      <li class="active"><a href=""><span>Home Page</span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </nav>
          <div id="colorlib-page">
            <header>
                <div class="container">
                  <div class="colorlib-navbar-brand">
                    <a class="colorlib-logo" href="index.html"></a>
                    
                  </div>
                  <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
              </div>
            </header>
          </div>
        <main>
                    
            

            <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-8 col-12 mx-auto">
                            <h1 class="text-white text-center" style="font-size: 42px;">Imagine. Create. Download</h1>

                            <h6 class="text-center">platform for creating presentations</h6>

                            <form method="get" class="custom-form mt-4 pt-2 mb-lg-0 mb-5" role="search">
                                <div class="input-group input-group-lg">
                                    <button type="submit" class="form-control" id="create-button"><a href="/create">Create</a></button>
                                    
                                    
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </section>



            <section class="faq-section section-padding" id="section_4">
                <div class="container">
                    <div class="row">

                        <div class="">
                            <h2 style="font-size: 36px; text-align: center;">Frequently Asked Questions</h2>
                        </div>

                        <div class="clearfix"></div>

                        <div class="col-lg-5 col-12">
                            <img src="../static/images/for_index/faq_graphic.jpg" class="img-fluid" alt="FAQs">
                        </div>

                        <div class="col-lg-6 col-12 m-auto">
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        How to write a prompt?
                                        </button>
                                    </h2>

                                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            For the prompt, you need to use the <strong>only name of the presentation</strong>. For example: "introduction to Calculus" or "Types of frogs"
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Do I have any restrictions?
                                    </button>
                                    </h2>

                                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            Yes, you have. You have restrictions only in prompt: Here are some examples of prompts that should be avoided: <strong>Illegal Activities, Violence and Harm, Hate Speech, Inappropriate Content, Personal and Sensitive Information</strong>. Remember to use vviky responsibly and ethically.
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Does it need to paid?
                                    </button>
                                    </h2>

                                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            No
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <section class="timeline-section section-padding" id="section_3">
                <div class="section-overlay"></div>

                <div class="container">
                    <div class="row">

                        <div class="col-12 text-center">
                            <h1 class="text-white mb-4" style="font-size: 36px; text-align: center;">How does it work?</h1>
                        </div>

                        <div class="col-lg-10 col-12 mx-auto">
                            <div class="timeline-container">
                                <ul class="vertical-scrollable-timeline" id="vertical-scrollable-timeline">
                                    <div class="list-progress">
                                        <div class="inner"></div>
                                    </div>

                                    <li>
                                        <h4 class="text-white mb-3">Complete sign up</h4>

                                        <p class="text-white"><a href="/create">To create presentations, you need to go through a simple registration. You can sign up by click on this text</a></p>
                                        <a href="/create">
                                            <div class="icon-holder">
                                            <i class="bi-book "></i>
                                            </div>
                                        </a>
                                    </li>
                                    
                                    <li>
                                        <h4 class="text-white mb-3">Imagine &amp; Write prompt</h4>

                                        <p class="text-white">After registration, you will be redirected to the page with the creation of a presentation, where you can choose the number of slides and choose any topic that does not violate the rules of use of vviky. Now click on the "create" button</p>

                                        <div class="icon-holder">
                                          <i class="bi-search "></i>
                                        </div>
                                    </li>

                                    <li>
                                        <h4 class="text-white mb-3">Wait &amp; Download</h4>

                                        <p class="text-white">Now, you need to wait from one to three minutes so that we can create your presentation. Immediately after creation, you will see a button on the screen to download the presentation</p>

                                        <div class="icon-holder">
                                          <i class="bi-bookmark"></i>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        
                    </div>
                </div>
            </section>


            <section class="contact-section section-padding section-bg" id="section_5">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-12 col-12 text-center">
                            <h2 class="mb-5">Contact us</h2>
                        </div>

                        

                        <div class="col-lg-3 col-md-6 col-12 mx-auto">
                            <!-- <h4 class="mb-3">Dubai office</h4> -->

                            <!-- <p>Burj Park, Downtown Dubai, United Arab Emirates</p> -->

                            <hr>

                            <p class="d-flex align-items-center mb-1">
                                <span class="me-2">Telegram</span>

                                <a href="https://t.me/Qwaradie" class="site-footer-link">
                                    @Qwaradie
                                </a>
                            </p>

                            <p class="d-flex align-items-center">
                                <span class="me-2">Email</span>

                                <a href="" class="site-footer-link">
                                    qwaradie@gmail.com
                                </a>
                            </p>
                        </div>

                    </div>
                </div>
            </section>
        </main>



        <!-- JAVASCRIPT FILES -->
        <script src="../static/js/jquery.min.js"></script>
        <script src="../static/js/popper.js"></script>
        <script src="../static/js/bootstrap.bundle.min.js"></script>
        <script src="../static/js/jquery.sticky.js"></script>
        <script src="../static/js/click-scroll.js"></script>
        <script src="../static/js/custom.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
        <script src="../static/js/menu.js"></script>

    </body>
</html>
